<html>
<h1>Welcome to Musical Melody! Let's get this party started!</h1>
<p>Create an account or login!</p>
<a href="/users/register">Please Sign Up!</a>
<a href="/users/login"> Please logIn</a>
</html>